<div class="container searchContainer">
  <div class="row">

    <div class="col-3 col-md-2 {{ isSearchFieldActive ? 'searchContainer__inputFieldBack' : 'searchContainer--inactive' }}">
      <img
        class="searchContainer__inputFieldBack--icon"
        src="assets/images/back-arrow.png"
        (click)="isSearchFieldActive = false"
      />
    </div>
    <div class="col-6 col-md-8">
      <input
        #searchPattern
        tabIndex="-1"
        type="text"
        class="searchContainer {{isSearchFieldActive ? 'searchContainer__inputField' : 'searchContainer--inactive'}}"
        [formControl]="searchPatternControl"
      />
    </div>

    <div class="col-3 col-md-2 search__iconWrapper">
      <img
        class="header--icon"
        src="assets/images/search-icon.png"
        (click)="isSearchFieldActive = true"
      />
      <img
        class="header--icon"
        src="assets/images/wishlist-selected.svg"
        [routerLink]="['/wishlist']"
      >
    </div>

  </div>
</div>
