@import "src/styles/controls";

.dialog {
  &__apply {
    justify-content: center;
    margin-top: 1.5em;
  }
}

.filter {
  &__title {
    &--gap {
      padding-top: 1em;
    }
  }
}

.filters {
  &__item {
    padding-right: 0.5em;
    padding-top: 0.2em;
    width: 10em;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.price {
  &__maximum {
    display: inline-flex;
    flex-flow: row-reverse;
  }

  &__slider {
    padding: 0;
  }
}

