<div *ngIf="story" class="mt-5 story-element__container">
  <div class="row w-100">
    <div class="col-1"></div>
    <div class="col">
      <div
        *ngFor="let storyElement of story.elements"
        class="fs-5"
        [class.fw-700]="storyElement.type === StoryElementType.Title"
        [class.story-element__block]="storyElement.type === StoryElementType.Block"
      >
        <h2 *ngIf="storyElement.type === StoryElementType.Title" class="story-element__title">
          {{storyElement.content}}
        </h2>
        <div *ngIf="storyElement.type === StoryElementType.Image">
          <img class="story-element__image mb-2" [src]="storyElement.content" />
        </div>
        <div
          *ngIf="storyElement.type === StoryElementType.Block"
          [innerHTML]="getSanitizedElementContent(storyElement)"
        ></div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row w-100">
    <div class="col-1"></div>
    <div class="col">
      <h3 class="story-element__title">{{ 'YOU_MAY_ALSO_LIKE' | translate }}</h3>

      <category-teaser
        [navigationItem]="getNavigationItemOfStory()"
        [randomItems]="true"
        [showHeader]="false"
      >
      </category-teaser>
    </div>
    <div class="col-1"></div>
  </div>

  <div *ngIf="furtherStories().length" class="row w-100">
    <div class="col-1"></div>
    <div class="col">
      <h3 class="story-element__title">{{ 'STORIES_MORE_STORIES' | translate }}</h3>

      <a href="/story/{{story.canonical}}" *ngFor="let story of furtherStories()" class="d-block mb-2">
        <div *ngIf="findFirstStoryImage(story)" class="mb-2 story-element__image">
          <img class="story-element__image mb-2" [src]="findFirstStoryImage(story)?.content" />
        </div>
        {{story.title}}
      </a>
    </div>
    <div class="col-1"></div>
  </div>
</div>
