@import 'src/app/variables';

.item {
  &__wishlist {
    background: #fff;
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    top: -1em;
    right: -1em;
  }

  &__wishlistIcon {
    color: $logo-capital-letter-color;

    &--inactive {
      color: rgba($logo-capital-letter-color, 0.5);
    }
  }
}
