@import 'src/app/variables';

.item {
  &__wishlist {
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    top: -0.5em;
    right: -0.65em;
    z-index: 2;
  }

  &__wishlistIcon {
    color: $logo-capital-letter-color;

    &--inactive {
      color: rgba($logo-capital-letter-color, 0.5);
    }
  }
}
