.item {
  &__wishlist {
    background: #fff;
    border: 1px solid #4AA7EB;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: -1em;
    right: -1em;
  }
}
