@import '../../../styles';
@import '../../variables';
@import 'src/styles/controls';

.informationItems {
  &__container {
    color: $content-color;
    padding-top: 4.5em;
  }

  &__containerWrapper {
    background-color: $container-background-color-as-rgba;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    margin-bottom: 2em;
    padding-top: 1em;
  }

  &__disclaimer {
    color: $content-color;
    font-size: 0.8em;
    font-style: italic;
  }
}

.wishlist {
  &__header-container {
    background-color: $container-background-color;
  }

  &__item {
    &-image {
      max-height: 10em;
      max-width: 12em;
      object-fit: contain;
    }

    &-image-container {
      background-color: $container-background-color;
      height: 13em;
      width: 16em;
    }

    &-title {
      color: $content-color;
    }
  }

  &__title {
    color: $content-color;
  }
}
