<div class="container wishlists__content">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-xl-8 mt-4 mt-xl-3 p-3 wishlists__new-list" [formGroup]="form">
      <div class="row d-flex">
        <div class="col-12">
          <h6 class="d-flex align-items-center text-uppercase fw-bold">
            <i class="fa fa-clipboard-list fs-4 me-2"></i>
            {{ 'WISHLIST_NEW_WISHLIST' | translate }}
          </h6>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-12 col-xl-9 d-flex mt-2 mt-xl-0">
          <input type="text" placeholder="{{ 'WISHLIST_NAME_OF_WISHLIST' | translate }}" formControlName="wishlistTitle" />
        </div>
        <div class="col-12 col-xl-3 mt-2 mt-xl-0">
          <a class="button__wrapper" (click)="createWishlist()">
            <div class="button d-flex w-100 justify-content-center">{{ 'WISHLIST_ACTION_CREATE_WISHLIST' | translate }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
  <div *ngIf="!isLoading" class="row w-100">
    <div *ngFor="let wishlist of Wishlists" class="d-flex justify-content-center mt-4 col-md-4 col-12">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <a class="button__wrapper mt-2" [routerLink]="['/', 'wishlist', wishlist.id ]">
            <img src="assets/images/wishlists/{{wishlist.imageId.toLocaleLowerCase()}}.jpg" class="wishlists__wishlist-image" />
          </a>
        </div>
        <div class="col-12 d-flex justify-content-center mt-3"><h4>{{ wishlist.title }}</h4></div>
        <div class="col-12 d-flex justify-content-center">{{ wishlist.description || ('WISHLIST_PROVIDE_A_DESCRIPTION' | translate) }}</div>
        <div class="col-12 d-flex justify-content-center">
          <a class="button__wrapper mt-2 mb-4" [routerLink]="['/', 'wishlist', wishlist.id ]">
            <div class="button">{{ 'WISHLIST_ACTION_GO_TO_WISHLIST' | translate }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
