@import 'src/app/variables.scss';
@import 'src/styles/controls.scss';

.wishlists {
  &__content {
    padding-top: 4.5em;
  }

  &__new-list {
    background-color: $container-background-color;
  }

  &__wishlist-image {
    border-radius: 1em;
    width: 16em;
  }
}
