<div *ngIf="items">
  <div class="container informationItems__container">
    <div class="row d-flex justify-content-center mb-4">
      <div class="wishlist__header-container p-4 col-10 col-md-7">
        <h3 *ngIf="WishlistTitle" class="d-flex justify-content-center wishlist__title">{{WishlistTitle}}</h3>
        <div class="d-flex justify-content-center">{{ WishlistDescription || ('WISHLIST_PROVIDE_A_DESCRIPTION' | translate) }}</div>
        <ng-container *ngIf="showAdministrativeControls">
          <ng-container *ngIf="!itemDiscoveryInProgress">
            <div class="d-flex mt-3">
              <input type="text" placeholder="{{ 'WISHLIST_LINK_OF_DESIRED_PRODUCT' | translate }}" [value]="productDiscoveryUrl" #productUrl />
            </div>
            <div class="d-flex justify-content-center mt-1">
              <a class="button__wrapper" (click)="discoverAndAddItemByUrl(productUrl)">
                <div class="button button--highlighted d-flex justify-content-center">
                  {{ 'WISHLIST_ACTION_ADD_WISH' | translate }}
                </div>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="itemDiscoveryInProgress">
            <app-loading></app-loading>
            <div class="d-flex justify-content-center mt-1">
              {{ 'WISHLIST_WISH_IS_LOADING' | translate }}
            </div>
          </ng-container>

          <ng-container *ngIf="WishlistIsShared">
            <div class="mt-2">
              {{'WISHLIST_SHARE_LINK_FOR_FRIENDS_AND_FAMILY' | translate }}:
            </div>
            <div class="d-flex mt-1">
              <input type="text" value="{{ShareLink}}" #shareLink>
              <i class="fa fa-copy fw-light ms-2" role="button" (click)="copyShareLinkToClipboard(shareLink)"></i>
            </div>
          </ng-container>
          <div class="d-flex justify-content-center mt-3">
            <a class="button__wrapper" (click)="shareWishlistOrStopSharing()">
              <div [class.button--highlighted]="!WishlistIsShared" class="button d-flex justify-content-center">
                {{ (WishlistIsShared ? 'WISHLIST_ACTION_STOP_SHARING_WISHLIST' : 'WISHLIST_ACTION_SHARE_WISHLIST') | translate }}
              </div>
            </a>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <a class="button__wrapper" (click)="deleteWishlistOrCancelDelete()">
              <div class="button button--critical d-flex justify-content-center">
                {{ (WishlistDeletionTimerActive ? 'WISHLIST_ACTION_CANCEL_DELETION' : 'WISHLIST_ACTION_DELETE_WISHLIST') | translate }}
              </div>
            </a>
          </div>
          <div *ngIf="WishlistDeletionTimerActive" class="wishlist__item-delete-timer">
            <div></div>
          </div>
        </ng-container>
      </div>
    </div>

    <h4 *ngIf="items.length" class="d-flex justify-content-center align-items-center text-uppercase wishlist__title">
      <div class="col me-2 wishlist__divider"></div> {{ 'WISHLIST_WISHES' | translate }} ({{items.length}}) <div class="col ms-2 wishlist__divider"></div>
    </h4>
    <app-wishlist-item
      *ngFor="let item of items"
      [item]="item"
      [showAdministrativeControls]="showAdministrativeControls"
    ></app-wishlist-item>

    <h4 *ngIf="boughtItems.length" class="d-flex text-uppercase align-items-center justify-content-center mt-5 wishlist__title">
      <div class="col me-2 wishlist__divider"></div> {{ 'WISHLIST_FULFILLED_WISHES' | translate }} ({{boughtItems.length}}) <div class="col ms-2 wishlist__divider"></div>
    </h4>
    <app-wishlist-item
      *ngFor="let item of boughtItems"
      [item]="item"
      [showAdministrativeControls]="showAdministrativeControls"
    ></app-wishlist-item>
</div>
<div class="mt-5">&nbsp;</div>
