@import 'src/app/variables';
@import 'src/styles/controls';

.wishlists {
  &__content {
    color: $content-color;
    padding-top: 4.5em;
  }

  &__new-list {
    background-color: $container-background-color;
  }

  &__wishlist-image {
    border-radius: 1em;
    width: 16em;
  }
}
