@import '../../../styles';
@import '../../variables';
@import 'src/styles/controls';

.informationItems {
  &__container {
    color: $content-color;
    padding-top: 4.5em;
  }

  &__containerWrapper {
    background-color: $container-background-color-as-rgba;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    margin-bottom: 2em;
    padding-top: 1em;
  }
}

.wishlist {
  &__header-container {
    background-color: $container-background-color;
  }

  &__divider {
    border-bottom: 1px solid gray;
    height: 1px;
  }

  &__item {
    &-delete-timer {
      margin: 1rem;
      overflow: hidden;

      div {
        height: 5px;
        animation: roundtime calc(5s) linear forwards;
        transform-origin: left center;
        background-color: $content-color--active;
      }
    }
  }

  &__title {
    color: $content-color;
  }
}

@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}
