@import '../../../styles';
@import '../../variables';
@import 'src/styles/controls';

.informationItems {
  &__disclaimer {
    font-size: 0.8em;
    font-style: italic;
  }
}

.wishlist {
  &__header-container {
    background-color: $container-background-color;
  }

  &__item {
    &-delete-timer {
      margin: 1rem;
      overflow: hidden;

      div {
        height: 5px;
        animation: roundtime calc(5s) linear forwards;
        transform-origin: left center;
        background-color: $content-color--active;
      }
    }

    &-description {
      display: -webkit-box;
      line-clamp: 5;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;

      a {
        color: $content-color;
      }
    }

    &-image {
      max-height: 10em;
      max-width: 12em;
      object-fit: contain;
    }

    &-image-container {
      background-color: $container-background-color;
      height: 13em;
      width: 16em;
    }

    &-title {
      color: $content-color;
      display: -webkit-box;
      line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }
}

@keyframes roundtime {
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}
