
<ng-template #navigateToAll>
  <div *ngIf="!isActiveNavigationItemRootItem">
    <a [routerLink]="['']">{{ 'NAVIGATION_ALL' | translate}}</a>
  </div>
</ng-template>

<div *ngIf="previousNavigationItem; else navigateToAll">
  <a [routerLink]="[''].concat(getNonEmptyPathPartsOfNavigationItem(previousNavigationItem))">{{'NAVIGATION_' + previousNavigationItem.toId | translate}}</a>
</div>

<div>{{'NAVIGATION_' + activeNavigationItemLabel | translate}}</div>

<div *ngFor="let item of nextNavigationItems">
  <a [routerLink]="[''].concat(getNonEmptyPathPartsOfNavigationItem(item))">{{'NAVIGATION_' + item.toId | translate}}</a>
</div>
