<div *ngIf="items">

  <div class="container informationItems__content">
    <div class="col-12 informationItems__container">
      <app-item *ngFor="let item of items" [item]="item">
      </app-item>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12 pages__container">
    <div class="pages__wrapper">
      <div *ngIf="currentPage > 1; else leftDisabled" class="pages__page">
        <a href="{{linkToPage(currentPage - 1)}}">
          &laquo; {{'BACK' | translate}}
        </a>
      </div>
      <ng-template #leftDisabled>
        <div class="pages__page--disabled">
          &laquo; {{'BACK' | translate}}
        </div>
      </ng-template>

      <div *ngFor="let page of availablePages" class="pages__page {{currentPage === page ? 'pages__page--active' : ''}}">

        <a *ngIf="0 !== page; else dots" href="{{linkToPage(page)}}">
          {{page}}
        </a>

        <ng-template #dots>
          ...
        </ng-template>
      </div>

      <div *ngIf="isNextPageNotLastPage; else rightDisabled" class="pages__page">
        <a href="{{linkToPage(currentPage + 1)}}">
          {{'NEXT' | translate}} &raquo;
        </a>
      </div>
      <ng-template #rightDisabled>
        <div class="pages__page--disabled">
          {{'NEXT' | translate}} &raquo;
        </div>
      </ng-template>
    </div>
  </div>
</div>
