@import "src/styles/controls";
@import 'src/app/variables';

#filterSelectionDialog {
  border: 1px solid lightgray;
  border-radius: 1em;
  font-family: $font-family;
  max-width: 90%;
}

h2 {
  @media screen and (max-width: 576px) {
    font-size: 1.125em !important;
    font-weight: 630 !important;
  }
}

.filters {
  &__button {
    position: relative;
    top: 0;
    width: 2.5em;
  }
}

.informationItems {
  &__container {
    background-color: #fff;
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    font-family: $font-family;
    padding-top: 1em;
  }

  &__disclaimer {
    font-size: 0.8em;
  }
}

.noResults {
  &__container {
    background-color: $container-hint-background-color;
    text-align: center;
  }
}

.pages {
  &__container {
    color: $content-color;
    font-family: $font-family;
    padding-bottom: 3.5em;
  }

  &__page {
    align-items: center;
    background-color: inherit;
    color: inherit;
    display: flex;
    height: 2.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-decoration: none;

    &--next {
      border-bottom-right-radius: 1em;
      border-top-right-radius: 1em;
    }

    &--previous {
      border-bottom-left-radius: 1em;
      border-top-left-radius: 1em;
    }

    a {
      background-color: inherit;
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      background-color: $content-color;
      color: $container-background-color;
      transition: background-color 0.25s;
    }

    &--disabled {
      align-items: center;
      color: lightgray;
      display: flex;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  &__wrapper {
    border: 1px solid lightgray;
    border-radius: 1em;
  }
}

.slick-slide {
  display: flex;
  justify-content: center;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.hero-wrapper {
  background-color: white;
  position: relative;
  overflow: hidden;
}

.hero-wrapper,
.hero-wrapper * {
  -webkit-user-drag: none;
  user-drag: none;
}

.hero-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.hero-wrapper img {
  mix-blend-mode: multiply !important;
}

.carousel-inner {
  width: 100%;
  max-height: 500px;
}

.carousel-item {
  height: 330px;
  background-color: white !important;
  isolation: isolate;

  @media screen and (min-width: 576px) {
    height: 500px;
  }
}

.carousel-item > .row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Begrenzte Breite + zentriert */
.carousel-item > .container-hero {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Für Text+Bild innerhalb des Slides */
.carousel-item .row {
  width: 100%;
  align-items: center;
}

.carousel-img img {
  width: 100%;
  max-height: 220px;
  max-width: 300px;

  object-fit: contain;
  border-radius: 8px;
  mix-blend-mode: multiply;
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;

  @media screen and (min-width: 576px) {
    max-height: 400px;
    max-width: 500px;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 165, 0, 0.85);
  border-radius: 50%;
  padding: 20px;
}

.carousel-indicators [data-bs-target] {
  background-color: rgba(255, 165, 0);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-size: 70% 70% !important;
}

.product-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.product-card img {
  width: 100%;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .carousel-item .row {
    flex-direction: column;
  }
}
