<div *ngIf="items">

  <div class="container informationItems__content">
    <div class="col-1"></div>
    <div class="col-10 informationItems__container">
      <div *ngFor="let item of items">

        <div *ngIf="item && item.titleImage" class="informationItem">
          <div class="informationItem__imageContainer">
            <a href="{{getFirstLinkFromItem(item)}}" target="{{item.itemId}}" (click)="pickedInformation(item)">
              <img
                class="informationItem__image"
                alt="{{item.title}}"
                src="{{item.titleImage}}"
                loading="lazy"
              />
            </a>
            <app-add-to-wishlist [item]="item"></app-add-to-wishlist>
          </div>
          <div class="informationItem__contentContainer">
            <div *ngIf="item.renderLowestPrice()" class="informationItem__price">{{item.renderLowestPrice()}}</div>
            <div class="informationItem__title">{{item.title}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1"> </div>
  </div>
</div>
