.informationItem {
  padding: 1em;
  text-align: -webkit-center;
  width: 20em;

  &__contentContainer {
    margin-top: 2em;
  }

  &__image {
    width: 13em;
  }

  &__imageContainer {
    position:relative;
    width: 13em;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }

  &s {
    &__container {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__content {
      display: flex;
      padding-top: 2em;
    }
  }
}
