@import "src/styles/controls";
@import 'src/app/variables';

#filterSelectionDialog {
  border: 1px solid lightgray;
  border-radius: 1em;
  font-family: $font-family;
  max-width: 90%;
}

.filters {
  &__button {
    position: relative;
    top: 0;
    width: 2.5em;
  }
}

.informationItems {
  &__container {
    background-color: #fff;
    flex-wrap: wrap;

    &--categories {
      padding-top: unset;
    }
  }

  &__content {
    display: flex;
    font-family: $font-family;
    padding-top: 1em;

    &--categories {
      padding-top: 4.5em;
    }
  }

  &__disclaimer {
    font-size: 0.8em;
  }
}

.noResults {
  &__container {
    background-color: $container-hint-background-color;
    text-align: center;
  }
}

.pages {
  &__container {
    color: $content-color;
    font-family: $font-family;
    padding-bottom: 3.5em;
  }

  &__page {
    align-items: center;
    background-color: inherit;
    color: inherit;
    display: flex;
    height: 2.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-decoration: none;

    &--next {
      border-bottom-right-radius: 1em;
      border-top-right-radius: 1em;
    }

    &--previous {
      border-bottom-left-radius: 1em;
      border-top-left-radius: 1em;
    }

    a {
      background-color: inherit;
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      background-color: $content-color;
      color: $container-background-color;
      transition: background-color 0.25s;
    }

    &--disabled {
      align-items: center;
      color: lightgray;
      display: flex;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  &__wrapper {
    border: 1px solid lightgray;
    border-radius: 1em;
  }
}

.slick-slide {
  display: flex;
  justify-content: center;
}
