@import 'src/styles/animations';
@import 'src/app/variables';

a  {
  color: $content-color;
  cursor: pointer;
  text-decoration: none;
}

.header {
  backdrop-filter: blur(3px);
  background: $container-background-color-as-rgba;
  box-shadow: 0.1em 0.1em 0.8em lightgray;
  color: $header-footer-content-color;
  padding: 0.5em 0.5em 0.7em 0.5em;
  position: fixed;
  width: 100%;
  z-index: 3;

  &__content {
    padding-top: 0.20em;
  }

  &__icon {
    color: $content-color--active;
    cursor: pointer;
    font-size: 1.35em;

    &--active {
      color: $content-color--active;
      font-weight: bold;
    }

    &--activeEmpty {
      color: rgba($content-color--active, 0.50);
    }

    &--empty {
      color: rgba($content-color--active, 0.50);
    }

    &Wrapper {
      height: 1.5em;
      padding-left: 0.5em;
    }
  }

  &__icons {
    display: inline-flex;
    position: absolute;
    right: 1.6em;
    top: 0.8em;
  }

  &__logo {
    font-size: 1.1em;

    a {
      text-decoration: none;
    }
  }

  &__menu {
    background-color: $container-background-color;
    border: 1px solid $content-color;
    border-radius: 0.5em;
    left: 1em;
    position: absolute;
    text-align: center;
    top: 2.5em;
    width: 20em;

    a {
      text-decoration: none;
    }

    &Close {
      color: $container-color;
      cursor: pointer;
      padding: 0.5em;
      position: absolute;
      right: 0;
      top: 0;
    }

    &Item {
      border-radius: 0.5em;
      cursor: pointer;
      color: $container-color;

      &:focus-visible {
        outline: none;
      }

      &--active,
      &:hover {
        background-color: $content-color;
        color: $container-background-color;
      }
    }
  }

  &__menuHeader {
    color: $container-color;
    font-weight: bold;
  }

  &__menuIcon {
    cursor: pointer;
    font-size:1.5em;
    left: 1em;
    position: absolute;
    top: 0.3em;
  }

  &__title {
    text-align: center;

    a {
      color: $logo-letter-color;
    }
  }

  &__titleCapitalLetter {
    color: $logo-capital-letter-color;
    font-weight: bold;
  }

  &__titleSlogan {
    color: $logo-slogan-color;
  }
}

.headerbar {
  &__content {
    display: inline-flex;
  }
}

#loadingDialog {
  border: 1px solid lightgray;
  border-radius: 1em;
  font-family: $font-family;
  max-width: 90%;
}

.searchbar {
  &__input {
    background-color: unset;
    border: 2px solid $header-footer-content-color;
    border-radius: 2em;
    color: $content-color;
    height: 1.8em;
    outline: 0;
    padding-left: 1.2em;
    width: 100%;

    &:focus {
      border: 2px solid $content-color--active;
    }

    &::placeholder {
      color: #FFF;
    }
  }

  &__inputBox {
    cursor: pointer;
    font-size: 1.2em;
    line-height: 1px;
    position: absolute;
    right: 1.3em;
  }

  &__inputButton {
    background-color: $logo-letter-color;
    border: 1px solid $logo-letter-color;
    border-radius: 50%;
    color: $logo-slogan-color;
    font-family: "Font Awesome 5 Free", system-ui;
    padding: 0.20em;
  }
}

.searchbar {
  padding-top: 0.5em;

  &__content {
    display:inline-flex;
    padding-left: 0.8em;
    padding-right: 1em;
  }
}

.suggestion {
  &__item {
    border-top: 1px solid lightgray;
    display: inline-flex;
    padding-bottom: 0.50em;
    padding-top: 0.50em;

    &--column {
      align-content: center;
      display: inline-grid;
    }

    &--first {
      border-top: unset;
      padding-top: 1em;
    }

    &--go {
      color: $content-color--active;
      justify-content: center;
    }

    &--last {
      padding-bottom: unset;
    }

    &--trend {
      padding: 0.5em 1em 0.5em 0.5em;
    }
  }
}
