@import "src/styles/animations";

.header {
    &__iconWrapper {
      height: 1.2em;
      padding-right: 1.5em;
      position: relative;
      top: 10%;
      width: 1.2em;
    }

    &__search {
      &--icon {
        border-radius: 50%;
        border: 2px dashed #0dcaf0;
        bottom: 0;
        position: absolute;
        height: 1em;
        width: 1em;
      }
    }

    &--icon {
      color: #0dcaf0;
      height: 100%;
      width: 100%;
    }
}

.headerSearch {
}

.search {
    display: inline-block;
    position: absolute;
    right: 110px;
    margin-left: 5px;
    top: 17px;
    width: 27px;

    &__iconWrapper {
      display: inline-flex;
      height: 8vh;
    }

    &--active {
      right: 15px;
    }
}

.searchContainer {
  height: 8vh;

  input {
    color: #FFF;
    height: inherit;
    min-height: 30px;
    padding: 0.2em;
    position: relative;
    transition: all .2s ease;
    outline: none;

    &:focus {
      border-color: #fff;
      transition: all .2s ease;
    }
  }

  &__icon {
    width: 100%;
  }

  &__inputField {
    background-color: unset;
    border: 0;
    border-bottom: 2px solid #4AA7EB;
    display: block;
    top: -0.5vh;
    width: 100%;

    &:focus {

      border: 0;
      border-bottom: 2px solid #FFF;
      caret-color: #FFF;
      left: -2%;
      outline: none;
      width: 103%;

    }

    &::placeholder {
      color: #FFF;
    }

    &--inactive {
      display: none;
    }

    &Back {
      display: inline-flex;
      height: 8vh;
      justify-content: flex-end;

      &--icon {
        height: 70%;
        position: relative;
        top: 25%;
      }

      &--inactive {
        display: none;
      }
    }
  }

  &__back {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    display: none;

    margin-left: 5px;
    text-transform: uppercase;
    width: 100px;

    &:active {
      background: #fff;
      border-color: #fff;
      color: #282c34;
      font-weight: bold;
    }
  }

}
