<header>
  <div class="header-top">
    <a href="/" class="logo cursor-pointer" role="button">WeWanna</a>
    <div class="d-flex align-items-center search-bar">
      <input
        #searchPattern
        autocomplete="off"
        type="search"
        placeholder="{{'iAmSearchingFor'|translate}}"
        [formControl]="searchPatternControl"
        (search)="searchNow()"
      >
      <i class="fa fa-search ms-2 search-icon" (click)="searchNow()"></i>
    </div>
  </div>
  <nav>
    <a href="/mode">Mode</a>
    <a href="/familie">Familie</a>
    <a href="/technik">Technik</a>
    <a href="/schönheit-und-pflege">Schönheit & Pflege</a>
    <a href="/mode?search=outdoor">Outdoor</a>
  </nav>
</header>
