
.header {
    &__iconWrapper {
      height: 1.2em;
      padding-right: 1.5em;
      position: relative;
      top: 10%;
      width: 1.2em;
    }

    &--icon {
      color: #0dcaf0;
      height: 100%;
      width: 100%;


    }


}

.hithere {
  animation: hithere 0.5s ease;
}
@keyframes hithere {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
    }

.search {
    display: inline-block;
    position: absolute;
    right: 110px;
    margin-left: 5px;
    top: 17px;
    width: 27px;

    &__iconWrapper {
      display: inline-flex;
      height: 8vh;
    }

    &--active {
      right: 15px;
    }
}

.searchContainer {
  height: 8vh;

  input {
    color: #FFF;
    height: inherit;
    min-height: 30px;
    padding: 8px;
    position: relative;
    transition: all .2s ease;
    outline: none;

    &:focus {
      border-color: #fff;
      transition: all .2s ease;
    }
  }

  &--inactive {
    display: none;
  }

  &__icon {
    width: 100%;
  }

  &__inputField {
    background-color: unset;
    border: 0;
    border-bottom: 2px solid #4AA7EB;
    display: block;
    top: -0.5vh;
    width: 100%;

    &:focus {

      border: 0;
      border-bottom: 2px solid #FFF;
      caret-color: #FFF;
      left: -2%;
      outline: none;
      width: 103%;

    }

    &::placeholder {
      color: #FFF;
    }

    &Back {
      display: inline-flex;
      height: 8vh;
      justify-content: end;

      &--icon {
        height: 70%;
        position: relative;
        top: 25%;
      }
    }
  }

  &__button {
    display: none;

    margin-left: 5px;
    text-transform: uppercase;
    width: 100px;

    &:active {
      background: #fff;
      border-color: #fff;
      color: #282c34;
      font-weight: bold;
    }
  }

}
