@import 'src/app/variables';

button {
  align-items: center;
  background-color: $container-background-color;
  border: 1px solid $container-color;
  border-radius: 0.25em;
  color: $container-color;
  display: flex;
  transition: background-color 200ms linear;
  outline: 0;
  padding: 0.5em;
  z-index: 1;
}

button:hover {
  background-color: $container-color;
  border: 1px solid $container-background-color;
  color: $container-background-color;
  transition: background-color 200ms linear;
}

.button {
  align-items: center;
  background-color: $container-background-color;
  border: 1px solid $container-color;
  border-radius: 1.5em;
  color: $container-color;
  cursor: pointer;
  display: flex;
  transition: background-color 200ms linear;
  outline: 0;
  padding: 0.5em 1em;
  text-decoration: none;
  z-index: 1;

  &--critical {
    &:hover {
      background-color: red !important;
    }
  }

  &--highlighted {
    border: 1px solid $container-background-color;
    background-color: $logo-capital-letter-color;
    color: $container-background-color;
  }

  &:hover {
    background-color: $container-color;
    border: 1px solid $container-background-color;
    color: $container-background-color;
    transition: background-color 200ms linear;
  }

  &__wrapper {
    text-decoration: none;
  }
}

input[type='text'] {
    background-color: unset;
    border: 1px solid lightgray;
    color: $content-color;
    height: 2.5em;
    text-indent: 0.5em;
    width: 100%;

    &:focus {
      border: 1px solid $content-color--active;
      caret-color: $content-color;
      outline: none;
    }
}
