@import 'src/app/variables';

.data-protection {
  color: $content-color;
  font-size: 0.95em;
  padding-top: 6em;

  a {
    color: $content-color;
  }

  &__item {
    padding-bottom: 2em;

    &--indented {
      padding-left: 1.5em;
    }
  }
}
