@import 'src/app/variables';
@import 'src/styles/controls';

.gdpr {
  background: $container-background-color;
  color: $container-color;

  &__actions {
    display: flex;
    justify-content: flex-end;

    button {
      justify-content: center;
      margin: 0.5em;
      width: 9em;
    }
  }

  &__explanation {
    padding-bottom: 1em;

    a {
      color: $container-color;
      outline: 0;
    }
  }
}
