<div class="gdpr">
  <div class="container">
    <div class="row">
      <h4>Privatsph&auml;reeinstellungen</h4>

      <div class="gdpr__explanation">
        Wir nutzen Cookies, um unsere Webseiten für Sie optimal zu gestalten und fortlaufend zu verbessern.
        Durch das Klicken des „Alle akzeptieren“-Buttons stimmen Sie dieser Verarbeitung Ihrer persönlichen Daten für diese Verarbeitungszwecke zu.
        Sollten Sie damit nicht einverstanden sein, so können Sie Ihre bevorzugten Einstellungen vornehmen, bevor Sie zustimmen oder ablehnen.
        Weitere Details können Sie unserer Datenschutzerklärung entnehmen.
      </div>

      <div class="gdpr__actions">
        <button (click)="declineAll()">Alles ablehnen</button>
        <button (click)="acceptAll()">Alles akzeptieren</button>
      </div>
    </div>
  </div>
</div>
