<div class="gdpr">
  <div class="container">
    <div class="row">
      <h4>Privatsph&auml;re</h4>

      <div class="gdpr__explanation">
        Wir verwenden keine Cookies.
        Es werden keine Ihrer persönlichen Daten verarbeitet.
        Dieses ist eine einmalige Information und kann nun geschlossen werden.
        Alle Informationen zum Datenschutz können Sie unserer <a [routerLink]="['/data-protection']" target="dataProtection">Datenschutzerklärung</a> entnehmen.
      </div>

      <div class="gdpr__actions">
        <button (click)="acceptAll()">Schlie&szlig;en</button>
      </div>
    </div>
  </div>
</div>
