<div class="imprint">
  <div class="container">
    <div class="row">
      <h1>Impressum</h1>

      <div class="imprint__item">
        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>
          Marcel Marschner<br/>
          Kolbergerstr. 2<br/>
          31303 Ehlershausen, Deutschland
        </p>
      </div>

      <div class="imprint__item">
        <h2>Kontakt</h2>
        <p>
          Telefon: 017632340057<br/>
          E-Mail: <a href="mailto:marcel.marschner@outlook.com">marcel.marschner(at)outlook.com</a>
        </p>
      </div>

      <div class="imprint__item">
        <h2>Inhaltlich verantwortlich</h2>
        <p>
          Marcel Marschner<br/>
          Kolbergerstr. 2<br/>
          31303 Ehlershausen, Deutschland
        </p>
      </div>

      <div class="imprint__item">
        <h2>Kundenservice</h2>
        <p>
          Bei dieser Seite handelt es sich um eine shop&uuml;bergreifende Produktsuche. <br/>
          Produkte bestellen Sie auf der Webseite des jeweiligen H&auml;ndlers. <br/>
          Diese Seite vermittelt den Kaufvertrag, der zwischen Ihnen und dem jeweiligen H&auml;ndler zustande kommt.
          <br/><br/>
          Haben Sie Fragen zu Ihrer Bestellung, wenden Sie sich bitte direkt an den betreffenden H&auml;ndler.
          <br/><br/>
          Bei Fragen zu dieser Seite k&ouml;nnen Sie sich direkt an mich wenden:
          <br/>
          E-Mail: <a href="mailto:marcel.marschner@outlook.com">marcel.marschner(at)outlook.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
