<div>
  <div *ngIf="item" [ngClass]="['informationItem', item.itemId ? '' : 'informationItem--loading', cssModifier ? 'informationItem' + cssModifier : '', additionalCssClasses]">
    <div [ngClass]="['informationItem__imageContainer', cssModifier ? 'informationItem__imageContainer' + cssModifier : '', item.itemId ? '' : 'informationItem__imageContainer--loading']">
      <a href="{{itemUrl}}" (click)="pickedInformation(item)">
        <img *ngIf="item.itemId"
          class="informationItem__image{{cssModifier ? ' informationItem__image' + cssModifier : ''}}"
          alt="{{'IMAGE_OF' | translate }} {{item.title}}"
          src="{{item.titleImage}}"
          loading="lazy"
        />
      </a>
      <app-add-to-wishlist [item]="item" *ngIf="showWishlistIcon"></app-add-to-wishlist>
    </div>

    <a href="{{itemUrl}}" (click)="pickedInformation(item)">
      <div class="informationItem__contentContainer{{cssModifier ? ' informationItem__contentContainer' + cssModifier : ''}}">
        <div *ngIf="showPrice">
          <div *ngIf="renderLowestPrice(item); else noPrice" [ngClass]="['button', 'informationItem__priceWrapper']">
            {{ 'PRICE_FROM' | translate }}
            <span class="informationItem__price">&nbsp;{{renderLowestPrice(item) || ''}}</span>
          </div>
          <ng-template #noPrice>
            <div [ngClass]="['informationItem__price', 'informationItem__price--hidden']">
              &nbsp;
            </div>
          </ng-template>
        </div>

        <div class="informationItem__title{{cssModifier ? ' informationItem__title' + cssModifier : ''}}">{{ itemTitle | translate }}</div>
      </div>
    </a>

    <a *ngFor="let hashtag of item.hashtags" href="/hashtags/{{hashtag}}">
      <div *ngIf="showHashtags" class="informationItem__hashtagsWrapper">
        <div class="button informationItem__hashtag">
            #{{hashtag}}
        </div>
      </div>
    </a>
  </div>
</div>
