<div #itemSection>
  <div *ngIf="item" [ngClass]="['informationItem', item.itemId ? '' : 'informationItem--loading', showBig ? 'informationItem--big' : '', cssModifier ? 'informationItem' + cssModifier : '', additionalCssClasses]">
    <div [ngClass]="['informationItem__imageContainer', cssModifier ? 'informationItem__imageContainer' + cssModifier : '', item.itemId ? '' : 'informationItem__imageContainer--loading']">
      <a href="{{itemUrl}}" class="informationItem--link" (click)="pickedInformation(item)" target="{{linkTarget}}">
        <img *ngIf="item.itemId"
             class="informationItem__image{{showBig ? ' informationItem__image--big' : ''}}{{cssModifier ? ' informationItem__image' + cssModifier : ''}}"
             alt="{{'IMAGE_OF' | translate }} {{item.title}}"
             [src]="showAlternateImage ? imageUrl : item.titleImage || ''"
             (mouseenter)="imageUrl = item.titleImage || ''; currentImageIndex = 0"
             loading="lazy"
        />
        <div class="informationItem__stamp{{showBig ? ' informationItem__stamp--big' : ''}}" *ngIf="renderedReduction">{{renderedReduction}}</div>
      </a>
      <app-add-to-wishlist [item]="item" *ngIf="showWishlistIcon"></app-add-to-wishlist>
    </div>

    <a href="{{itemUrl}}" class="informationItem--link" (click)="pickedInformation(item)" target="{{linkTarget}}" >
      <div class="informationItem__contentContainer{{cssModifier ? ' informationItem__contentContainer' + cssModifier : ''}}">
        <div *ngIf="showPrice">
          <div *ngIf="renderLowestPrice(item); else noPrice" [ngClass]="['button', 'informationItem__priceWrapper']">
            <span *ngIf="!hasOnlyOneOffer">{{ 'PRICE_FROM' | translate }}</span>
            <span class="informationItem__price{{showBig ? ' informationItem__price--big' : ''}}">&nbsp;{{renderLowestPrice(item) || ''}}</span>
          </div>
          <ng-template #noPrice>
            <div [ngClass]="['informationItem__price', 'informationItem__price--hidden']">
              &nbsp;
            </div>
          </ng-template>
        </div>
      </div>
    </a>

    <a href="{{itemUrl}}" class="informationItem--link" *ngIf="showOfferDetailsLink" (click)="pickedInformation(item)" target="{{linkTarget}}">
      <span>{{getShopNameOfItem()}}</span>
    </a>
    <a href="{{singleProductViewUrl}}" class="informationItem__details--link" *ngIf="showOfferDetailsLink" (click)="pickedInformation(item)">
      <div>{{ 'OFFER_DETAILS' | translate }}</div>
    </a>
    <a href="{{itemUrl}}" class="informationItem--link" (click)="pickedInformation(item)" target="{{linkTarget}}">
        <div class="informationItem__title{{cssModifier ? ' informationItem__title' + cssModifier : ''}}">{{ itemTitle | translate }}</div>
    </a>

    <a *ngFor="let hashtag of item.hashtags" href="/hashtags/{{hashtag}}">
      <div *ngIf="showHashtags" class="informationItem__hashtagsWrapper">
        <div class="button informationItem__hashtag">
            #{{hashtag}}
        </div>
      </div>
    </a>
  </div>
</div>
