@import 'src/app/variables';

.footer {
  background: $container-background-color;
  border-top: 1px solid lightgray;
  bottom: 0;
  font-size: 0.85em;
  height: 2.3em;
  padding-top: 0.3em;
  text-align: center;

  &__link {
    color: $header-footer-content-color;
    cursor: pointer;
    padding-left: 1em;

    &--active {
      color: $content-color--active;
      font-weight: bold;
    }
  }

  @media screen and (min-width: 576px) {
    text-align: right;
  }
}
