@import 'src/app/variables';

.app {
  font-family: 'Mulish', sans-serif;
}

.app-content {
  background-color: $page-background;
  color: $content-color;
  flex-direction: column;
  top: 0;

  &h1 {
    font-size: 2.0em;
  }
}

.bot__link {
  font-size: 0;
}

.gdpr__dialog {
  background-color: $container-background-color;
}
