@import 'src/app/variables';

.app {
  font-family: 'Source Sans Pro', sans-serif;
}

.app-content {
  align-items: center;
  background-color: $page-background;
  color: #FFF;
  flex-direction: column;
  position: relative;
  top: 3.1em;

  &h1 {
    font-size: 2.0em;
  }
}

.gdpr__dialog {
  background-color: $container-background-color;
}
