$container-background-color: rgb(255, 255, 255);
$container-background-color-as-rgba: rgba(255, 255, 255, 0.85);
$container-color: #122947;
$content-color: #122947;
$content-color--active: #DE5935;
$font-family: Calibri;
$header-footer-content-color: #122947;
$page-background: #f3f4f2;
$content-price-color: #122947;
$logo-capital-letter-color: #DE5935;
$logo-letter-color: #354e61;
$logo-slogan-color: orange;
