<div class="container singleProductView__content">

  <div class="row">
    <div class="col-12 content--center">
      <div *ngIf="navigationItemToCategory?.toId" class="button singleProductView__backToOverview">
        <a href="/{{(navigationItemToCategory?.pathParts || [''])[0]}}" target="_self">
          {{ 'BACK_TO' | translate }} "{{ 'NAVIGATION_' + navigationItemToCategory?.toId | translate }}"
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div>
        <img class="mainStage__mainImage" src="{{item?.titleImage}}"/>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="productInformation">
        <h4>{{item?.title}}</h4>
        <p class="mainStage__productDescription">
          {{item?.description}}
        </p>

        <div>
          <div class="productInformation__header">
            <h4>{{( areThereMorePrices ? 'TOP_OFFER' : 'OFFER') | translate }}</h4>
          </div>

          <div class="productInformation__offers">
            <div class="button">
              <a href="{{itemWithLowestPrice?.link}}" target="_blank">
                  {{getShopNameFromUrl(itemWithLowestPrice?.link)}}<span *ngIf="itemWithLowestPrice?.renderPrice()">: {{itemWithLowestPrice?.renderPrice()}}</span>
              </a>
            </div>
          </div>

          <div *ngIf="areThereMorePrices">
            <div class="productInformation__header">
              <h5>{{ 'MORE_OFFERS' | translate }}</h5>
            </div>
            <div class="productInformation__offers">
              <div *ngFor="let offer of moreExpensiveOfferItems" class="button">
                <a href="{{offer?.link}}" target="_blank">
                    {{getShopNameFromUrl(offer?.link)}}<span *ngIf="offer?.renderPrice()">: {{offer?.renderPrice()}}</span>
                </a>
              </div>
              <div *ngFor="let offer of offerItemsWithoutPrice" class="button">
                <a href="{{offer?.link}}" target="_blank">
                    {{getShopNameFromUrl(offer?.link)}}<span *ngIf="offer?.renderPrice()">: {{offer?.renderPrice()}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="productInformation productInformation__header">
        &nbsp;
      </div>
    </div>
  </div>
</div>
