<div class="container text-center pt-5">
  <div class="mb-3 pt-2">
    <app-breadcrumbs [navigationIds]="item?.navigationPath"></app-breadcrumbs>
  </div>
f
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bg-white pb-2 pt-2 carousel__viewport">
          <div *ngFor="let imageBigUrl of slideImageUrls(); let i = index;">
            <img
              #img
              src="{{imageBigUrl}}"
              alt="{{i+1}}. {{ 'IMAGE_OF' | translate }} {{item?.title || ''}}"
              class="mainStage__mainImage"
              (error)="img.src = 'assets/images/broken-image.png'"
            />
          </div>
      </div>

      <div class="d-none {{item?.priceHistory?.length ? 'd-lg-block' : ''}} mt-3">
        <h2 class="singleProductView__sectionHeader text-start">{{ 'PRICE_HISTORY' | translate }}</h2>
        <canvas id="priceHistoryChartA" width="400" height="150">
          {{priceHistoryChartA}}
        </canvas>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="productInformation">
        <section>
          <h2 class="singleProductView__sectionHeader">{{item?.title}}</h2>
          <p class="mainStage__productDescription{{showFullDescription ? ' mainStage__productDescription--full' : ''}}" (click)="toggleFullDescription()">
            <span *ngIf="!item?.descriptions?.length">
              {{item?.description}}
            </span>
            <span *ngFor="let descriptionItem of item?.descriptions">
                <b>{{descriptionItem?.headline}}</b><br/>
                {{descriptionItem?.content}}
                <br/><br/>
            </span>
          </p>
        </section>

        <section>
          <div class="{{item?.priceHistory?.length ? 'd-lg-none' : 'd-none'}}">
            <h2 class="singleProductView__sectionHeader">{{ 'PRICE_HISTORY' | translate }}</h2>
            <canvas id="priceHistoryChartB" width="300" height="150">
              {{priceHistoryChartA}}
            </canvas>
          </div>

          <div class="pt-2 justify-content-start">
            <h2 class="singleProductView__sectionHeader">{{( areThereMorePrices() ? 'TOP_OFFER' : 'OFFER') | translate }}</h2>
          </div>

          <div class="productInformation__disclaimer mb-2">{{'PROVISION_DISCLAIMER' | translate}}</div>

          <div *ngIf="itemWithLowestPrice" class="productInformation__offers">
            <a href="{{itemWithLowestPrice.link}}" (click)="pickedOffer()" target="_blank" class="button__wrapper">
              <div class="button productInformation__offer">
                <div>
                  {{getShopNameFromUrl(itemWithLowestPrice.link)}}:<span *ngIf="renderPrice(itemWithLowestPrice)" class="productInformation__offer--price">{{renderPrice(itemWithLowestPrice)}}</span>
                </div>
                <div *ngIf="itemWithLowestPrice.pricePerUnit && itemWithLowestPrice.referenceUnit" class="productInformation__offer--referenceUnit">
                  ({{ CorrespondingItem.renderPriceAmount(itemWithLowestPrice.pricePerUnit) }} / {{ (itemWithLowestPrice.referenceUnit || '').trim() }})
                </div>
                <div *ngIf="itemWithLowestPrice.productCondition">
                  {{itemWithLowestPrice.productCondition}}
                </div>
                <div *ngIf="itemWithLowestPrice.updatedOn" class="productInformation__offer--updatedOn">
                  {{ 'UPDATED_ON' | translate }}:
                  {{itemWithLowestPrice.updatedOn | date:'dd.MM.yyyy' }}
                </div>
              </div>
            </a>
          </div>
          <span *ngIf="!itemWithLowestPrice">{{ 'NO_OFFER_AVAilABLE' | translate }}</span>

          <div *ngIf="areThereMorePrices()">
            <div class="pt-2 justify-content-start">
              <h2 class="singleProductView__sectionHeader">{{ 'MORE_OFFERS' | translate }}</h2>
            </div>
            <div class="productInformation__offers">
              <a *ngFor="let offer of moreExpensiveOfferItems()" href="{{offer?.link}}" (click)="pickedOffer()" target="_blank" class="button__wrapper">
                <div class="button productInformation__offer">
                  <div>
                    {{getShopNameFromUrl(offer?.link)}}: <span *ngIf="renderPrice(offer)" class="productInformation__offer--price">{{renderPrice(offer)}}</span>
                  </div>
                  <div *ngIf="offer?.pricePerUnit && offer?.referenceUnit" class="productInformation__offer--referenceUnit">
                    ({{ CorrespondingItem.renderPriceAmount(offer?.pricePerUnit) }} / {{ (offer?.referenceUnit || '').trim() }})
                  </div>
                  <div *ngIf="offer?.productCondition">
                    {{offer?.productCondition}}
                  </div>
                  <div *ngIf="offer?.updatedOn" class="productInformation__offer--updatedOn">
                    {{ 'UPDATED_ON' | translate }}:
                    {{offer?.updatedOn | date:'dd.MM.yyyy' }}
                  </div>
                </div>
              </a>
              <a *ngFor="let offer of offerItemsWithoutPrice()" href="{{offer?.link}}" (click)="pickedOffer()" target="_blank" class="button__wrapper">
                <div class="button productInformation__offer">
                      {{getShopNameFromUrl(offer?.link)}}: <span *ngIf="renderPrice(offer)" class="productInformation__offer--price">{{renderPrice(offer)}}</span>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <div *ngIf="item?.size || item?.sizes" class="row">
    <div class="col-12 justify-content-start productDetails">
      <div class="pt-3 productInformation">
        <span *ngIf="item?.size">
          {{ 'PRODUCT_DESCRIPTION_SHOWN_PRODUCT_SIZE' | translate }} {{item?.size}}.<br/>
        </span>
        <span *ngIf="productSizes()">
          <span *ngIf="!item?.size">{{ 'PRODUCT_DESCRIPTION_SHOWN_PRODUCT_SIZES' | translate }}:<br/> {{productSizes()}}</span>
          <span *ngIf="item?.size">
            {{ 'PRODUCT_DESCRIPTION_PRODUCT_ADDITIONAL_SIZES' | translate }} {{productSizes()}} {{ 'PRODUCT_DESCRIPTION_PRODUCT_ADDITIONAL_SIZES_SUFFIX' | translate }}.
          </span>
        </span>
      </div>
    </div>
  </div>
f
  <div class="row">
    <div class="col-12 productDetails">
      <section class="w-100 pt-2 justify-content-start productInformation {{item?.teaserTexts?.length ? '' : 'pb-5'}}">
        <div *ngIf="getItemDetails(item)?.length">
          <div class="pt-2 justify-content-start">
            <h2 class="singleProductView__sectionHeader">{{'PRODUCT_DETAILS' | translate}}</h2>
          </div>

          <dl class="summary-items">
            <ng-container *ngFor="let detail of getItemDetails(item)">
              <dt class="fw-bold">{{ 'PRODUCT_DETAILS_' + detail.label | translate }}</dt>
              <dd>{{detail.value}} {{'PRODUCT_DETAILS_SUFFIX_' + detail.label | translate : '' : ' ' }}</dd>
            </ng-container>
          </dl>
        </div>
        &nbsp;
      </section>
    </div>
  </div>

  <div *ngIf="item?.teaserTexts?.length" class="row">
    <div class="col-12 productDetails">
      <section class="w-100 pb-5 pt-2 justify-content-start productInformation">
        <div class="pt-2">
          <h2 class="singleProductView__sectionHeader">Highlights</h2>
        </div>
        <ul>
          <li class="mt-2" *ngFor="let teaserText of item?.teaserTexts">
            {{teaserText}}
          </li>
        </ul>
      </section>
    </div>
  </div>

  <div *ngIf="item?.youtubeLinks?.length" class="row">
    <div class="col-12 d-flex flex-wrap flex-xl-nowrap justify-content-center">
      <div class="m-1 ratio ratio-16x9" *ngFor="let youtubeLink of item?.youtubeLinks" style="min-width:23em; max-width: 40em">
        <iframe [src]="getSanitizedResourceUri(youtubeLink)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row mt-4 mb-4">
    <div class="col-12 productDetails">
      <div class="productInformation">
        <h2 class="singleProductView__sectionHeader">{{'SHARE' | translate}}</h2>
        <a [href]="safePinterestUri" target="pinterest" class="button__wrapper">
          <div class="button singleProductView__shareButton">
            <img src="assets/images/pinterest.png" class="singleProductView__shareIcon"/>
            {{'SHARE_ON_PINTEREST' | translate}}
          </div>
        </a>

        <a [href]="safeWhatsAppUri" class="button__wrapper">
          <div class="button singleProductView__shareButton singleProductView__shareButton--onlyForMobile">
            <img src="assets/images/whatsapp.png" class="singleProductView__shareIcon"/>
            {{'SHARE_ON_WHATSAPP' | translate}}
          </div>
        </a>
      </div>
    </div>
  </div>

  <section *ngIf="getActiveNavigationItem()" class="row">
    <div class="col-12">
      <h2 class="singleProductView__sectionHeader">{{'FURTHER_PRODUCTS_OF_CATEGORY' | translate}}</h2>
      <category-teaser
        [navigationItem]="getActiveNavigationItem()"
        [showHeader]="false"
        [randomItems]="true"
        [numberOfItems]="8"
      ></category-teaser>
    </div>
  </section>

  <div *ngFor="let seoKey of ['A', 'B', 'C', 'D', 'E']">
    <div *ngIf="seoHeader(seoKey)" class="container seo__wrapper">
      <div class="col-12 seo__content">
        <h2>{{ seoHeader(seoKey) }}</h2>
        <p [innerHTML]="seoContent(seoKey)"></p>
      </div>
    </div>
  </div>

</div>
