.mainStage {
  &__productInformation {
    text-align: left;
  }

  &__mainImage {
    max-height: 30em;
  }
}

.singleProductView {
  &__content {
    padding-top: 4.5em;
    text-align: center;
  }
}
