<div class="container singleProductView__content">

  <div class="row">
    <div class="col-12 content--center">
      <a href="/{{(navigationItemToCategory?.pathParts || [''])[0]}}" target="_self" class="button__wrapper">
        <div *ngIf="navigationItemToCategory?.toId" class="button singleProductView__backToOverview">
            {{ 'BACK_TO' | translate }} "{{ 'NAVIGATION_' + navigationItemToCategory?.toId | translate }}"
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="carousel__viewport">
          <div
            *ngFor="let imageBigUrl of (item?.imagesBig || []).concat([item?.titleImage || ''])"
          >
            <img src="{{imageBigUrl}}" class="mainStage__mainImage"/>
          </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="productInformation">
        <section>
          <h2 class="singleProductView__sectionHeader">{{item?.title}}</h2>
          <p class="mainStage__productDescription">
            {{item?.description}}
          </p>
        </section>

        <section>
          <div class="productInformation__header">
            <h2 class="singleProductView__sectionHeader">{{( areThereMorePrices ? 'TOP_OFFER' : 'OFFER') | translate }}</h2>
          </div>

          <div class="productInformation__offers">
            <a href="{{itemWithLowestPrice?.link}}" target="_blank" class="button__wrapper">
              <div class="button">
                {{getShopNameFromUrl(itemWithLowestPrice?.link)}}<span *ngIf="renderPrice(itemWithLowestPrice)">: {{renderPrice(itemWithLowestPrice)}}</span>
              </div>
            </a>
          </div>

          <div *ngIf="areThereMorePrices">
            <div class="productInformation__header">
              <h2 class="singleProductView__sectionHeader">{{ 'MORE_OFFERS' | translate }}</h2>
            </div>
            <div class="productInformation__offers">
              <a *ngFor="let offer of moreExpensiveOfferItems" href="{{offer?.link}}" target="_blank" class="button__wrapper">
                <div class="button">
                  {{getShopNameFromUrl(offer?.link)}}<span *ngIf="renderPrice(offer)">: {{renderPrice(offer)}}</span>
                </div>
              </a>
              <a *ngFor="let offer of offerItemsWithoutPrice" href="{{offer?.link}}" target="_blank" class="button__wrapper">
                <div class="button">
                      {{getShopNameFromUrl(offer?.link)}}<span *ngIf="renderPrice(offer)">: {{renderPrice(offer)}}</span>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="row productInformation__share">
    <div class="col-12">
      <div class="productInformation">
        <h2 class="singleProductView__sectionHeader">{{'SHARE' | translate}}</h2>
        <a [href]="safeWhatsAppUri" class="button__wrapper">
          <div class="button">
            {{'SHARE_ON_WHATSAPP' | translate}}
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 productDetails">
      <section class="productInformation productInformation--last productInformation__header productDetails__wrapper">
        <div *ngIf="getItemDetails(item)?.length">
          <div class="productInformation__header">
            <h2 class="singleProductView__sectionHeader">{{'PRODUCT_DETAILS' | translate}}</h2>
          </div>
          <div *ngFor="let detail of getItemDetails(item)" class="productDetails__content">
            <div class="productDetails__label">{{ 'PRODUCT_DETAILS_' + detail.label | translate }}</div>
            <div>{{detail.value}} {{'PRODUCT_DETAILS_SUFFIX_' + detail.label | translate }}</div>
          </div>
        </div>
        &nbsp;
      </section>
    </div>
  </div>

  <section *ngIf="activeNavigationItem" class="row">
    <div class="col-12">
      <h2 class="singleProductView__sectionHeader">{{'FURTHER_PRODUCTS_OF_CATEGORY' | translate}}</h2>
      <category-teaser [navigationItem]="activeNavigationItem" [showHeader]="false" [randomItems]="true"></category-teaser>
    </div>
  </section>
</div>
