<section class="informationItems__containerWrapper">
  <h2 *ngIf="showHeader" class="category__title">
    <span class="header__titleCapitalLetter">W</span><span class="header__title">e</span>
    <span class="header__titleCapitalLetter">W</span><span class="header__title">anna</span>
    <span class="header__titleSlogan"> {{('NAVIGATION_SLOGAN_' + (navigationItem?.hasSlogan ? navigationItem?.toId || 'ALL' : 'ALL')) | translate}}!</span>
  </h2>

  <h3 *ngIf="showHeader && navigationItem?.hasTeaser">
    <span class="header__titleTeaser"> {{('NAVIGATION_TEASER_' + (navigationItem?.toId || 'ALL')) | translate}}</span>
  </h3>
  <div class="col-12 informationItems__container">
    <div *ngFor="let item of getItemsOfCategory(); let i = index;">

      <div *ngIf="item" [ngClass]="['informationItem', item?.itemId ? '' : 'informationItem--loading', -1 !== [0, 1].indexOf(i) ? 'informationItem--displayUpToL informationItem--displayFromXXL' : '' ]">
        <div [ngClass]="['informationItem__imageContainer', item?.itemId ? '' : 'informationItem__imageContainer--loading']">
          <a href="{{getSeoFriendlySingleProductViewUrl(item)}}">
            <img
              class="informationItem__image"
              alt="{{ 'IMAGE_OF' | translate }} {{item?.title || ''}}"
              src="{{item.titleImage}}"
              loading="lazy"
            />
          </a>
          <app-add-to-wishlist [item]="item"></app-add-to-wishlist>
        </div>
        <a href="{{getSeoFriendlySingleProductViewUrl(item)}}">
          <div class="informationItem__contentContainer">
            <div *ngIf="renderLowestPrice(item); else noPrice" [ngClass]="['informationItem__price']">
              {{ 'PRICE_FROM' | translate }} {{renderLowestPrice(item) || ''}}
            </div>
            <ng-template #noPrice>
              <div [ngClass]="['informationItem__price', 'informationItem__price--hidden']">
                &nbsp;
              </div>
            </ng-template>
            <div class="informationItem__title">{{item.title}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="category__actions">
    <a href="{{moreLink}}" class="button">
        {{'SHOW_MORE_PREFIX' | translate }} "{{ ('NAVIGATION_' + navigationItem?.toId) | translate }}" {{'SHOW_MORE_SUFFIX' | translate }}
    </a>
  </div>
</section>
