@import "src/styles/controls";
@import 'src/app/variables';

.category {
  &__actions {
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__title {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;
    text-align: -webkit-center;
    width: 100%;
  }
}

.header {
  &__title {
    color: $logo-letter-color;
  }

  &__titleCapitalLetter {
    color: $logo-capital-letter-color;
  }

  &__titleSlogan {
    color: $logo-slogan-color;
  }

  &__titleTeaser {
    color: $container-color;
    font-family: $font-family;
    font-size: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.informationItem {
  font-size: 0.85em;
  padding: 1.5em 0.5em 1.5em 0.5em;
  margin: 0.5em;
  text-align: center;
  text-align: -webkit-center;
  width: 11em;

  @media screen and (min-width: 576px) {
    width: 15em;
  }

  @media screen and (min-width: 768px) {
    width: 20em;
  }

  @media screen and (min-width: 1400px) {
    width: 20em;
  }

  a {
    color: $content-color;
    font-family: $font-family;
    text-decoration: none;
  }

  &__contentContainer {
    margin-top: 2em;
  }

  &__image {
    border-radius: 0.5em;
    max-height: 18em;
    max-width: 10em;

    @media screen and (min-width: 768px) {
      max-height: 22em;
      max-width: 14em;
    }
  }

  &__imageContainer {
    align-items: center;
    background-color: #FFF;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    min-height: 20em;
    padding: 0.5em;
    position: relative;
    width: 10em;

    @media screen and (min-width: 576px) {
      width: 9em;
    }

    @media screen and (min-width: 768px) {
      min-height: 23em;
      width: 12em;
    }

    @media screen and (min-width: 1400px) {
      min-height: 23em;
      width: 14em;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }

    &--loading {
      background: none;
    }
  }

  &__price {
    color: $content-price-color;
    font-family: $font-family;

    @media screen and (min-width: 576px) {
      font-size: 1.5em;
    }

    &:hover {
      color: $logo-slogan-color;
    }
  }

  &__priceWrapper {
    align-items: baseline;
    background-color: $container-background-color;
    border-radius: 15px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0.3em;

    &--hidden {
      background: none;
    }
  }

  &__title {
    display: -webkit-box;
    line-clamp: 4;
    min-height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  &--displayFromXXL {
    display: none;

    @media screen and (min-width: 1400px) {
      display: inherit;
    }
  }

  &--displayUpToL {
    @media screen and (max-width: 992px) {
      display: inherit;
    }
  }

  &--loading {
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, rgba($container-background-color, .25) 8%, rgba($logo-capital-letter-color, .25) 50%, rgba($container-background-color, .25) 92%);
    background-size: 800px 104px;
    position: relative;
  }
}

.informationItems {
  &__container {
    background-color: #fff;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
  }

  &__containerWrapper {
    background-color: $container-background-color-as-rgba;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    margin-bottom: 2em;
    padding-top: 1em;
  }

  &__content {
    display: flex;
    padding-top: 4.5em;
  }
}

.startPage {
  &__container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content {
    padding-top: 4.5em;
    text-align: center;
  }
}
