@import "src/styles/controls";
@import 'src/app/variables';

.category {
  &__actions {
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__title {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;
    text-align: -webkit-center;
    width: 100%;
  }
}

.header {
  &__title {
    color: $logo-letter-color;
  }

  &__titleCapitalLetter {
    color: $logo-capital-letter-color;
  }

  &__titleSlogan {
    color: $logo-slogan-color;
  }

  &__titleTeaser {
    color: $container-color;
    font-family: $font-family;
    font-size: 0.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.informationItems {
  &__container {
    background-color: #fff;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
  }

  &__containerWrapper {
    background-color: $container-background-color-as-rgba;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    margin-bottom: 2em;
    padding-top: 1em;
  }

  &__content {
    display: flex;
    padding-top: 4.5em;
  }
}

.startPage {
  &__container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__content {
    padding-top: 4.5em;
    text-align: center;
  }
}
