<section class="informationItems__containerWrapper">
  <h2 *ngIf="showHeader" class="category__title">
    <span class="header__titleCapitalLetter">W</span><span class="header__title">e</span>
    <span class="header__titleCapitalLetter">W</span><span class="header__title">anna</span>
    <span class="header__titleSlogan"> {{ sloganTranslationId | translate}}!</span>
  </h2>

  <h3 *ngIf="showHeader && navigationItem?.hasTeaser">
    <div class="header__titleTeaser"> {{('NAVIGATION_TEASER_' + (navigationItem?.toId || 'ALL')) | translate}}</div>
  </h3>
  <div class="col-12 informationItems__container">
    <app-item
      *ngFor="let item of getItemsOfCategory(); let i = index;"
      [item]="item"
      [additionalCssClasses]="-1 !== [0, 1].indexOf(i) ? 'informationItem--displayUpToL informationItem--displayFromXXL' : ''"
    ></app-item>
  </div>
  <div class="category__actions">
    <a href="{{moreLink}}" class="button">
        {{'SHOW_MORE_PREFIX' | translate }} "{{ navigationTranslationId | translate }}" {{'SHOW_MORE_SUFFIX' | translate }}
    </a>
  </div>
</section>
