<div class="category__title">
  <span class="header__titleCapitalLetter">W</span><span class="header__title">e</span>
  <span class="header__titleCapitalLetter">W</span><span class="header__title">anna</span>
  <span class="header__titleSlogan"> {{('NAVIGATION_SLOGAN_' + navigationItem?.toId) | translate}}!</span>
</div>
<div class="col-12 informationItems__container">
  <div *ngFor="let item of getItemsOfCategory()">

    <div *ngIf="item" [ngClass]="['informationItem', item?.itemId ? '' : 'informationItem--loading']">
      <div class="informationItem__imageContainer">
        <a href="{{getFirstLinkFromItem(item)}}" target="{{item.itemId}}">
          <img
            class="informationItem__image"
            alt="{{item.title}}"
            src="{{item.titleImage}}"
            loading="lazy"
          />
        </a>
        <app-add-to-wishlist [item]="item"></app-add-to-wishlist>
      </div>
      <div class="informationItem__contentContainer">
        <div [ngClass]="['informationItem__price', item.renderLowestPrice() ? '' : 'informationItem__price--hidden']">{{item.renderLowestPrice() || '&nbsp;'}}</div>
        <div class="informationItem__title">{{item.title}}</div>
      </div>
    </div>
  </div>
</div>
<div class="category__actions">
  <button
    [routerLink]="[(navigationItem?.pathParts || [])[0]]">
    {{'SHOW_MORE_PREFIX' | translate }} "{{ ('NAVIGATION_' + navigationItem?.toId) | translate }}" {{'SHOW_MORE_SUFFIX' | translate }}
  </button>
</div>
