<section #teaserSection class="informationItems__containerWrapper{{headerTitle ? ' pt-3' : ''}}">
  <a href="{{linkUri}}">
    <div class="col-12 w-100 header header__title" *ngIf="headerTitle">
      {{headerTitle | translate}} <span *ngIf="linkUri" class="header__more">mehr &raquo;</span>
    </div>
  </a>
  <div class="col-12 informationItems__container">
    <app-item
      *ngFor="let item of items; let i = index;"
      [item]="item"
      [displayMode]="DISPLAY_MODE_TEASER"
    ></app-item>
  </div>
</section>
