@import "src/styles/controls";
@import 'src/app/variables';

.header {
  background-color: $container-background-color;

  &__more {
    color: $content-color;
    font-size: 90%;
    font-weight: normal;

    @media screen and (min-width: 576px) {
      font-size: initial;
    }
  }

  &__title {
    color: #000;
    font-size: 1em;
    padding: 1em;
    text-align: start;

    @media screen and (min-width: 576px) {
      font-size: 1.5em;
    }
  }
}

.informationItems {
  &__container {
    background-color: $container-background-color;
  }

  &__containerWrapper {
    z-index: 1;
  }
}
