@import "src/styles/controls";
@import 'src/app/variables';

.category {
  &__title {
    font-size: 1.5em;
    text-align: left;
    text-align: -webkit-left;
  }
}

.header {
  background-color: #fff;
  display: inline-flex;

  &__more {
    color: $content-color;
    font-size: 90%;
    font-weight: normal;
    padding-left: 1em;
    text-decoration: underline;

    @media screen and (min-width: 576px) {
      font-size: initial;
    }
  }

  &__title {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    padding: 1em;
    text-align: start;

    @media screen and (min-width: 576px) {
      font-size: 1.5em;
    }
  }
}

.informationItems {
  &__container {
    background-color: #fff;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__containerWrapper {
    position: relative;
    z-index: 1;
  }
}
