<div class="startPage__content">
  <a href="{{currentHero?.heroUrl}}">
    <div
      class="w-100 position-absolute startPage__hero"
      [style.background-image]="currentHero?.backgroundImage"
      [style.background-position-x]="currentHero?.backgroundPositionX"
      [style.background-position-y]="currentHero?.backgroundPositionY"
      [style.background-size]="currentHero?.backgroundSize || 'contain'"
    >
      <div class="startPage__heroTitle" *ngIf="currentHero?.heroText">{{currentHero?.heroText || '' | translate}}</div>
    </div>
  </a>

  <div class="container">
    TEASERS: {{STARTPAGE_TEASER_ITEMS.length}}
    <moderated-teaser
      *ngFor="let teaserItem of STARTPAGE_TEASER_ITEMS"
      [filters]="teaserItem.filters"
      [hashtags]="teaserItem.hashtags"
      [headerTitle]="teaserItem.headerTitle"
      [linkUri]="teaserItem.linkUri"
      [navigationId]="teaserItem.navigationId"
      [searchPattern]="teaserItem.searchPattern"
      [ssrRendering]="teaserItem.ssrRendering"
      [createdToday]="teaserItem.createdToday"
    >
    </moderated-teaser>
  </div>

  <div class="container pt-3 pb-3">
    <div class="col-12 fst-italic startPage__disclaimer">
      {{ 'PROVISION_DISCLAIMER' | translate }}
    </div>

    <article class="col-12 startPage__seo mt-5 mb-5">
      {{ 'SEO_STARTPAGE_TEASER' | translate }}
    </article>
  </div>
</div>
