@import '../../../styles/controls';
@import '../../../styles';

#advantagesDialog {
  border: 1px solid lightgray;
  border-radius: 1em;
  font-family: $font-family;
  max-width: 90%;
}

.startPage {
  &__actions {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
  }

  &__button {
    margin-right: 0.5em;
    width: fit-content;
  }

  &__content {
    padding-top: 15em;
    text-align: center;

    @media screen and (min-width: 786px) {
      padding-top: 20em;
    }
  }

  &__dialogClose {
    color: $container-color;
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__hero {
    background-repeat: no-repeat;
    background-size: contain;
    height: 20em;
    position: absolute;
    top: 3.6em;
    width: 100%;

    @media screen and (min-width: 576px) {
      height: 80em;
    }

    &Title {
      color: #FFF;
      font-size: 2.3em;
      font-weight: bolder;
      margin-top: 1em;
      text-shadow: #FC0 1px 0 10px;

      @media screen and (min-width: 576px) {
        margin-top: 2em;
      }
    }
  }
}
