<div
  *ngIf="!selectedSearchProfile"
  class="searchProfile searchProfile--no-selection"
  (click)="selectionOpened = !selectionOpened"
></div>

<div
  *ngIf="selectedSearchProfile"
  class="searchProfile searchProfile__item--header"
  [style.background-color]="selectedSearchProfile.avatarBackgroundColor"
  (click)="selectionOpened = !selectionOpened"
>
</div>


<div class="searchProfile__selectionDropDown {{selectionOpened ? 'searchProfile__selectionDropDown--open' : ''}}">
  <div
    *ngFor="let searchProfile of searchProfilesOfActiveUser"
    class="searchProfile searchProfile__item"
    [style.background-color]="searchProfile?.avatarBackgroundColor"
    (click)="pickSearchProfile(searchProfile?.id)"
  >
  </div>
  <div
    class="searchProfile searchProfile__item searchProfile--no-selection"
    (click)="pickSearchProfile('')"
  ></div>
  <div
    class="searchProfile searchProfile__item searchProfile--no-selection"
    [routerLink]="['/search-profile']"
    (click)="selectionOpened = !selectionOpened"
  >
    <div class="bi bi-pencil searchProfile__item--text"></div>
  </div>
</div>
