#searchProfile__selection--button {
  height: 0;
  opacity: 0;
}

.searchProfile {
  border: 2px solid #0dcaf0;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;

  &__item {
    cursor: pointer;
    position: relative;

    &:not(:last-child) {
      margin-right: 0.2em;
    }

    &:hover {
      border-color: lightblue;
    }

    &--header {
      position: absolute;
    }

    &--text {
      color: #0dcaf0;
      font-size: 0.6em;
    }
  }

  &__selectionDropDown {
      background: #355f7d;
      clear:both;
      display: inline-flex;
      height:0;
      overflow: hidden;
      padding: 0;
      position: relative;
      text-align: center;
      top: 1.5em;
      transition: height .4s ease;
      z-index: 1;

      &--open {
        border: 1px solid #0dcaf0;
        height: unset;
        padding: 0.2em;
      }
  }

  &--no-selection {
    border: 2px dotted #0dcaf0;
  }
}
