@import "src/styles/animations";
@import "src/styles/controls";

.profileSelectionContainer {
  background: #2d3e5e;

  &__content {
    padding: 1em;
    margin-top: 3em;
  }

  &__item {
    border: 2px solid $content-color;
    border-radius: 50%;
    bottom: 0;
    cursor: pointer;
    margin: 0.5em;
    height: 8em;
    width: 8em;

    &--new {
      border: 0;
      color: $content-color;
      font-size: 6.5em;
      height: unset;
      margin: unset;
      margin-left: 0.1em;
      width: unset;

      &:hover {
        color: $content-color--active;
      }
    }
  }

  &__itemWrapper {
    border: 2px solid $content-color;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 1em;
    margin-right: 1em;
    padding: 1em;
    text-align: center;
    height: 8em;
    transition: background-color 200ms linear;
    width: 8em;

    &:hover {
      border-color: $content-color--active;
    }

    &--selected {
      background: $content-color;
      color: #000;
    }

  }

  &__selectionContainer {
    display: inline-flex;
  }

  &__subCategoryContainer {
    padding: 1em;
    text-align: center;

    h3 {
      padding-bottom: 0.5em;
    }

  }

  &__subCategoryWrapper {
    display: inline-flex;
    flex-flow: wrap;
    justify-content: center;
  }
}
